#collected
{
    content: url("../../../assets/CatalogueImages/ClosedPokeball.png");
    width: 30px;
    height: 30px;
    
}
#not-collected
{
    content: url("../../../assets/CatalogueImages/OpenPokeball.png");
    width: 30px;
    height: 30px;
}
#remove
{
    content: url("../../../assets/CatalogueImages/RemovePokemon.png");
    width: 30px;
    height: 30px;
}