<aside class="absolute top-2 right-2">
    <ng-container *ngIf="canRemovePokemon; then profile else catalogue"></ng-container>
    <ng-template #profile>
        <button (click)="onCollectClick()"
        type="submit" class="border 
        border-slate-500 bg-white p-1 
        rounded text-white shadow shadow-red-900">
            <img id="remove" alt="remove" />
        </button>        
    </ng-template>
    <ng-template #catalogue>
        <ng-container *ngIf="isCollected; then collected else notCollected"></ng-container>
        <ng-template #collected>
            <button (click)="onCollectClick()"
            type="submit" class="border 
            border-slate-500 bg-green-500 p-1 
            rounded text-white shadow shadow-green-900">
                <img id="collected" alt="collected" />
            </button>        
        </ng-template>
        <ng-template #notCollected>
            <button (click)="onCollectClick()"
            type="submit" class="border 
            border-slate-500 bg-red-500 p-1 
            rounded text-white shadow shadow-red-900">
                <img id="not-collected" alt="not-collected" />
            </button>
        </ng-template>
    </ng-template>
</aside>