<li *ngIf="pokemon" class="ml-20 mt-5 SetShadow
bg-gray-200 rounded relative">
    <app-collect-button [pokemonName]="pokemon.name"></app-collect-button>
    <section class="p-4 bg-[#FFD700]">
        <span class="text-xl text-[#004CBD]">{{ pokemonName(pokemon.name) }}</span>
    </section>
    <section class="p-4 ml-20 mb-5">
        <img [src]="pokemon.image" [alt]="pokemon.name" 
        class="block w-20"/>
    </section>
</li>
