@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');

.PageTitle{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Sanchez";
    font-size: 120px;
    color: yellow;
    font-weight: bolder;
    text-shadow: -3px -3px 1px rgb(13, 110, 255), 3px -3px 1px rgb(13, 110, 255), -3px 3px 1px rgb(13, 110, 255), 3px 3px 1px rgb(13, 110, 255);
}

.NameTag{
    display: block;
    margin-left: 15vw;
    margin-right: auto;
    padding-top: 1px;
    text-align: left;
    font-family: "Sanchez";
    font-size: 30px;
    color: yellow;
    font-weight: bolder;
    text-shadow: -3px -3px 1px rgb(13, 110, 255), 3px -3px 1px rgb(13, 110, 255), -3px 3px 1px rgb(13, 110, 255), 3px 3px 1px rgb(13, 110, 255);
}

.NameTitle{
    display: block;
    margin-left: 15vw;
    margin-right: auto;
    text-align: left;
    font-family: "Sanchez";
    font-size: 45px;
    color: yellow;
    font-weight: bolder;
    text-shadow: -3px -3px 1px rgb(13, 110, 255), 3px -3px 1px rgb(13, 110, 255), -3px 3px 1px rgb(13, 110, 255), 3px 3px 1px rgb(13, 110, 255);
}

.ProfileCatchPokemonButton{
    width: 350px;
    height: 120px;
    display: block;
    margin-left: 37vw;
    margin-right: auto;
    margin-top: -95px;
    font-family: "Sanchez";
    font-size: 35px;
    color: yellow;
    font-weight: bolder;
    box-shadow: 0px 0px 3px 3px #41a3ff;
    border-radius: 40px;
    background-color: #FFD700;
    text-shadow: -2px -2px 1px rgb(13, 110, 255), 2px -2px 1px rgb(13, 110, 255), -2px 2px 1px rgb(13, 110, 255), 2px 2px 1px rgb(13, 110, 255);
}

.ProfileLogOutButton{
    width: 350px;
    height: 120px;
    display: block;
    margin-left: 67vw;
    margin-right: auto;
    margin-top: -120px;
    font-family: "Sanchez";
    font-size: 35px;
    color: yellow;
    font-weight: bolder;
    box-shadow: 0px 0px 3px 3px #41a3ff;
    border-radius: 40px;
    background-color: #FFD700;
    text-shadow: -2px -2px 1px rgb(13, 110, 255), 2px -2px 1px rgb(13, 110, 255), -2px 2px 1px rgb(13, 110, 255), 2px 2px 1px rgb(13, 110, 255);
}