<p class="PageTitle">Profile</p>
<div>
    <p class="NameTag">Trainer name:</p>
    <p class="NameTitle">{{trainer?.username}}</p>
    <button (click)="goToPokemonCatalogue()" class="ProfileCatchPokemonButton">Catch some pokemon</button>
    <button (click)="logOut()" class="ProfileLogOutButton">Log out</button>
</div>
<ul>
    <div class="grid grid-cols-4 mt-4 mr-20" >
        <app-pokemon-catalogue-item 
            *ngFor="let pokemon of pokemons"
            [pokemon]="pokemon">
        </app-pokemon-catalogue-item>
    </div>
</ul>