.LoginBg {
    display: block;
    width: 100vw;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
    background: url(../../../assets/GeneralBG.png) no-repeat scroll 0em 0em;
    background-size: 100vw 100vh;
}

.LoginBox {
    display: block;
    width: 1200px;
    height: 900px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5vh;
}