<main>
    <img src="../../../assets/GeneralBG.png" class="CatalogBg">
    <p *ngIf="loading">Loading Pokemon...</p>
    <app-pokemon-catalogue [pokemons]="pokemons" (goToTrainerProfileEvent)="handleGoToTrainerProfile()"></app-pokemon-catalogue>
</main>