@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');

.LoginTitle {
    border: none;
    display: block;
    width: 1200px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
}

.BgInputLogin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    width: 1000px;
    height: 180px;
    border: none;
    box-shadow: 0px 0px 3px 3px #41a3ff;
    border-radius: 40px;
    background-color: #ffffff;
}

.InputLogin{
    height: 80px;
    width: 850px;
    border: 4px solid #969696;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 40px;
    background: url(../../../assets/LoginImages/KeyboardIcon.png) no-repeat scroll 15px 12px;
    background-size: 75px 44px;
    padding-left: 120px;
    font-size: 50px;
    font-family: "Sanchez";
}

.LoginButton{
    height: 72px;
    width: 72px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: 78px;
    margin-top: -76px;
    background: url(../../../assets/LoginImages/PlayButton.png) no-repeat scroll;
    background-size: 72px 72px;
}

.TextPopUps{
    height: 80px;
    width: 800px;
    display: block;
    margin-left: 115px;
    margin-right: auto;
    margin-top: 0px;
    font-size: 19px;
    font-family: "Sanchez";
    text-align: left;
}