<img src="../../../assets/LoginImages/Title.png" class="LoginTitle">
<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
    <fieldset class="BgInputLogin">
        <input type="text" 
            ngModel
            #username="ngModel"
            name="username" id="username" 
            class="InputLogin" 
            placeholder="Please insert trainer name"
            required=""
            minlength="3"
            maxlength="12"
        />
        <button type="submit" class="LoginButton"></button>
        <div *ngIf="pressedButton">
            <p *ngIf="username.errors?.['required']" class="text-red-500 TextPopUps">Username is required</p>
            <p *ngIf="username.errors?.['minlength']" class="text-red-500 TextPopUps">Username has a minimum length of 3</p>
            <p *ngIf="username.errors?.['maxlength']" class="text-red-500 TextPopUps">Username has a maximum length of 16</p>
        </div>
        <p *ngIf="loggingIn" class="TextPopUps" >{{loggingInMessage}}</p>
    </fieldset>
</form>
