<p class="PageTitle">Catch Pokemon</p>
<div>
    <p class="NameTag">Trainer name:</p>
    <p class="NameTitle">{{trainer?.username}}</p>
    <button (click)="goToTrainerProfile()" class="GoToProfileButton">Go to trainer <br> profile</button>
</div>
<ul class="mt-4 mr-20">
    <div class="grid grid-cols-4" >
        <app-pokemon-catalogue-item 
            *ngFor="let pokemon of pokemons"
            [pokemon]="pokemon">
        </app-pokemon-catalogue-item>
    </div>
</ul>
