<main>
    <img src="../../../assets/GeneralBG.png" class="CatalogBg">
    <div class="ProfileBox">
        <app-trainer-profile (logout)="handleLogout()" (goToPokemonCatalogueEvent)="handleGoToPokemonCatalogue()"></app-trainer-profile>
    </div>
</main>
