.CatalogBg {
    display: block;
    width: 100vw;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    z-index: -1;
}

.ProfileBox {
    display: block;
    width: 99vw;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1vh;
}